*{
    padding: 0;
    margin: 0;
}
body {
    font-size: 1.2em;
    background-color: #f9f9f9;
}
.menu, .logo {
    width: 9.16666666666667%;
    float: left;
}
.content, .search {
    width: 79.16666666666666%;
    float: left;
}
.sidebar, .login {
    width: 11.6666666666667%;
    float: left;
}
h5 {
    background-color: orange;
}
header {
     margin-top:14px;
     height: 40px;
}
header a {
    color: #000000;
}
.logo a {
    margin-top: 10px;
}
/*<<<<<<--------search-------->>>>>>>*/
.search p {
    font-size:0.66em ;
    border-left: 1px solid gray ;
    padding-left: 1.052631578947368%;
    color: gray;
    text-transform: uppercase;
    letter-spacing:-.5px;
    float: left;
}
.search p :first-child {
    margin-top: 10px;
}
.search-group {
    display: inline;
    float: right;
    background-color:lightseagreen;
    margin-right: 20px;
    padding: 1px 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.search-group > .my-select {
    width: 80px;
    padding: 3px 0;
    float: left;
    cursor:pointer;
}
.search-control {
    padding: 1px 3px;
    font-size: 1em;
    line-height: 20px;
}
.search-control:nth-child(3) {
    width: 50px;
    float: left;
}
.search-control:first-child {
    width:130px;
    float: left;
}
.search a {
    width: 20px;
    float: right;
    margin-right: 20px;
}
.search a:first-child {
    margin-left: 10px;
    border-left-style: dashed;
}
.form {
    font-size: 12px;
    padding: 5px;
}
input, textarea, select {
    border: 1px solid lightgrey;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #ffffff;
}
button[type="submit"]{
    border: 1px solid lightseagreen;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #ffffff;
    background: -moz-linear-gradient(top,  #dff0f4 0%, rgba(56,149,172,1) 50%, rgba(35,131,155,1) 51%, rgba(19,121,147,1) 51%, rgba(0,118,148,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dff0f4), color-stop(50%,rgba(56,149,172,1)), color-stop(51%,rgba(35,131,155,1)), color-stop(51%,rgba(19,121,147,1)), color-stop(100%,rgba(0,118,148,1)));
    background: -webkit-linear-gradient(top,  #dff0f4 0%,rgba(56,149,172,1) 50%,rgba(35,131,155,1) 51%,rgba(19,121,147,1) 51%,rgba(0,118,148,1) 100%);
    background: -o-linear-gradient(top,  #dff0f4 0%,rgba(56,149,172,1) 50%,rgba(35,131,155,1) 51%,rgba(19,121,147,1) 51%,rgba(0,118,148,1) 100%);
    background: -ms-linear-gradient(top,  #dff0f4 0%,rgba(56,149,172,1) 50%,rgba(35,131,155,1) 51%,rgba(19,121,147,1) 51%,rgba(0,118,148,1) 100%);
    background: linear-gradient(to bottom, #dff0f4 0%,rgba(56,149,172,1) 50%,rgba(35,131,155,1) 51%,rgba(19,121,147,1) 51%,rgba(0,118,148,1) 100%);
    background-color:lightseagreen;
    transition-duration:4s;
    -webkit-transition-duration:4s;
    transition-property:background;
    transition-timing-function:linear;
}
button[type="submit"]:hover{
    background: linear-gradient(to top, #dff0f4 0%,rgba(56,149,172,1) 50%,rgba(35,131,155,1) 51%,rgba(19,121,147,1) 51%,rgba(0,118,148,1) 100%);
}
/*---------finish search-------*/

/*-------login-----*/
.login img {
    display: inline-block;
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
}
.login p {
    display: block;
    font-size: 0.5em;
    color: gray;
    text-transform: uppercase;
    letter-spacing:-.5px;
    margin-bottom: 0;
}
.login p:last-child  {
    font-size: 1.2em;color: #000000;
}


/*-------finish login-----*/


/*--------menu-----------*/

.menu li:first-child{
    border-color: #ffffff;
    border-width: 2px;
    border-top-style: groove;
    padding-top: 20px;
}
.menu li:last-child{
    border-color: #ffffff;
    border-width: 2px;
    border-bottom-style: groove;
    padding-bottom: 20px;
}
.menu li {
    text-align: right;
    display: inline-block;
    text-decoration: none;
    list-style: none;
}
.menu li i{
    padding: 0 8px;
    border-right-style: dotted;
    border-color: gray;
    border-width: 1px;
    border-left-style: dotted;
}
.menu a {
    margin-right: 5px;
    text-align: right;
    float: left;
    width: 80px;
    text-underline: none;
    color: #000000;
}
.menu a:hover {
    color: #49b9ca;
    text-decoration: none;
}
.menu span {
    float: left;
    margin: 0 10px;
    width: 15px;
    height: 15px;
    background-color: #49b9ca;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #ffffff;
}
.menu-static {
    margin: 5px 8px 0 0;
    display: inline-block;
    border-color: #ffffff;
    border-width: 2px;
    border-bottom-style: groove;
    padding-bottom: 15px;
}
.menu-static div i, .menu-button i {
    padding: 0 8px;
    color: darkred;
}
.menu-static div, .menu-button div {
    margin: 5px 0;
    float: right;
}
.menu-button {
    margin: 5px 8px 0 0;
    display: inline-block;
    border-color: #ffffff;
    border-width: 2px;
    border-bottom-style: groove;
    padding-bottom: 15px

}.menu-button input[type="text"] {
     width: 90px;
     text-align: center;
 }
input[type="text"].myFocus {
    background-color: white;
}
input[type="text"].myBlur {
    background: -moz-linear-gradient(top,  #dff0f4 0%, rgba(56,149,172,1) 50%, rgba(35,131,155,1) 51%, rgba(19,121,147,1) 51%, rgba(0,118,148,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dff0f4), color-stop(50%,rgba(56,149,172,1)), color-stop(51%,rgba(35,131,155,1)), color-stop(51%,rgba(19,121,147,1)), color-stop(100%,rgba(0,118,148,1)));
    background: -webkit-linear-gradient(top,  #dff0f4 0%,rgba(56,149,172,1) 50%,rgba(35,131,155,1) 51%,rgba(19,121,147,1) 51%,rgba(0,118,148,1) 100%);
    background: -o-linear-gradient(top,  #dff0f4 0%,rgba(56,149,172,1) 50%,rgba(35,131,155,1) 51%,rgba(19,121,147,1) 51%,rgba(0,118,148,1) 100%);
    background: -ms-linear-gradient(top,  #dff0f4 0%,rgba(56,149,172,1) 50%,rgba(35,131,155,1) 51%,rgba(19,121,147,1) 51%,rgba(0,118,148,1) 100%);
    background: linear-gradient(to bottom, #dff0f4 0%,rgba(56,149,172,1) 50%,rgba(35,131,155,1) 51%,rgba(19,121,147,1) 51%,rgba(0,118,148,1) 100%);
    background-color:lightseagreen;
}
input[type="text"].myBlur:hover{
    background: linear-gradient(to top, #dff0f4 0%,rgba(56,149,172,1) 50%,rgba(35,131,155,1) 51%,rgba(19,121,147,1) 51%,rgba(0,118,148,1) 100%);
}
.input[placeholder].myBlur {
    color: #ffffff !important;
}
input[type="text"].myBlur ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ffffff;
}
input[type="text"].myBlur :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#ffffff;
    opacity:  1;
}
input[type="text"].myBlur ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#ffffff;
    opacity:  1;
}
input[type="text"].myBlur :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#ffffff;
}
/*-----------finish menu------------*/

/*------------start sidebar---------*/
.sidebar p:first-child{
    border-color: #ffffff;
    border-width: 2px;
    border-top-style: groove;
    padding-top: 15px;
    margin-left: 8px;
    padding-right: 10px;
    text-align: right;
    background-color: orange;
    color: #ffffff;
    -moz-background-clip: border;     /* Firefox 3.6 */
    -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
    background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

}
.feed {
    margin-top: 20px;
}
.feed ul:hover {
    border-right: 4px inset #49b9ca;
    background: rgba(250,250,250,1);
    background: -moz-linear-gradient(left, rgba(250,250,250,1) 0%, rgba(234,234,234,1) 72%, rgba(230,230,230,1) 92%, rgba(230,230,230,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,250,250,1)), color-stop(72%, rgba(234,234,234,1)), color-stop(92%, rgba(230,230,230,1)), color-stop(100%, rgba(230,230,230,1)));
    background: -webkit-linear-gradient(left, rgba(250,250,250,1) 0%, rgba(234,234,234,1) 72%, rgba(230,230,230,1) 92%, rgba(230,230,230,1) 100%);
    background: -o-linear-gradient(left, rgba(250,250,250,1) 0%, rgba(234,234,234,1) 72%, rgba(230,230,230,1) 92%, rgba(230,230,230,1) 100%);
    background: -ms-linear-gradient(left, rgba(250,250,250,1) 0%, rgba(234,234,234,1) 72%, rgba(230,230,230,1) 92%, rgba(230,230,230,1) 100%);
    background: linear-gradient(to right, rgba(250,250,250,1) 0%, rgba(234,234,234,1) 72%, rgba(230,230,230,1) 92%, rgba(230,230,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6', GradientType=1 );
}
.feed ul {
    border-color: #ffffff;
    border-width: 1px;
    border-top-style: groove;
    border-bottom-style: groove;
    line-height: 16px;
    padding-top:1px;
    margin-left: 30px;
    text-shadow:0 1px 1px white;
}
.feed ul li {
    padding: 0;
}
.feed ul li:nth-child(2) {
   font-weight: bold;
    color: #666;
}
.feed ul li:first-child{
    font-weight: 400;
    color: darkgray;
    font-size: .8em;
    padding-top: 1px;
}
.feed ul li:last-child {
    margin-left: -17px;
    color:#49b9ca;
    padding-bottom: 1px;
}
.feed ul li i {
    margin-right: 5px;
}
.feed span {
    margin-left: 30px;
    color: darkorange;
    font-weight: 700;
}
.feed span:last-child {
    color:#49b9ca ;
    margin-left: 0;
    font-size: .9em;
    font-weight: 600;
}







li {
    list-style: none;
    padding: 5px 0;
}

.folder-dialog button {
    float: right;
    padding: 2px 8px;
    margin-right: 10px;
    margin-top: 20px;
}
.folder-dialog {
    width: auto;
    height: 50px;
}
.folder-left-direction label {
    text-align:right;
    width: 40%;
    padding-right:10px;
}

.folder-left-direction input, .folder-left-direction textarea {
     float: right;
     width: 60%;
    background-color: #ffffff;
 }
.folder-dialog >.folder-right-direction label {
    float: left;
    padding-left: 10px;
}
.folder-dialog >.folder-right-direction input {
    margin-right: 10px;
}

.bookmark-dialog1 {
    float: left;
    width: 35%;
    padding-right: 20px;
}
.bookmark-dialog2 {
    width: 25%;
    float: left;
    padding-right: 10px;
}
.bookmark-dialog3 {
    width: 60%;
    float: left;
    padding-right: 10px;
}
.bookmark-dialog1, .bookmark-dialog3 p {
   text-align: right;
}
.bookmark-dialog1 input, .bookmark-dialog2 select, .bookmark-dialog3 input {
    float: right;
    margin-left: 5px;
}
.bookmark-dialog3 input {
    height: 20px;
}
.bookmark-dialog4 img{
    height: 150px;
    width: 250px;
    border: 1px solid lightgray;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-left: 20px;
}
.social-dialog img {
    height: 150px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    object-fit:fill;
    display: block;
    margin: 5px auto;
}
.social-dialog p {
    font-size: 12px;
    padding-top: 10px;
    float:left;
    margin-right: 45px;
}
a .fa {
    padding: 2px;
    display: inline-block;
}
a .fa-facebook-square {
    text-decoration: none;
}
a .fa-twitter-square {
    color: lightskyblue;
    text-decoration: none;
}
a .fa-envelope-square {
    color: orange;
    text-decoration: none;
}

.folder-dialog p {
    padding: 3px 0 0 3px ;
    float: left;
}
.btn {
    margin: 5px 0;
}
.modal-footer .btn+.btn {
    margin-bottom: 5px;
}

.content {
    border: 1px solid lightgray;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    height: 700px;
    background-color: #ffffff;

}
.list {
     font-size: 10px;
    margin: 20px 1.052631578947368% 0;
     box-sizing: border-box;
 }
.list ul{
    border: 1px solid #edebec;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #edebec;
    transition-duration:400ms;
    -webkit-transition-duration:400ms;
    transition-property:background-color;
    cursor:pointer;
}
.list ul li {
    line-height: 35px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 20%;
    display: inline-block;
    padding: 5px 8px 0 8px;
}
.list ul li a {
    width: 100%;
    border-left-style: dotted;
    border-color: gray;
    border-width: 1px;
    text-decoration: none;
    color: grey;
    padding-left: 10px;
}
.list ul li a i {
    color: #ffffff;
    width: 10px;
    height: 10px;
    font-size: 10px;
    text-align: center;
    padding: 1px;
}
.list ul li a button {
    background-color:#49b9ca;
}
.list ul li:nth-child(1) a, .list ul li:nth-child(2) a {
    border: none;
}
.list ul:hover {
    background-color: #d7d7d9;
    cursor:pointer;
}
.list ul li:first-child{
    width: 5%;
}
.list ul li:last-child {
    width: 8%;
    float: right;
    text-align: right;
}
.list ul li:nth-child(4){
    width: 46%;
}
.list li button {
    margin-right: 2px;
}

.view-grid {
    border: 1px solid lightskyblue;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: skyblue;
    min-height: 110px;
    padding: 5px;
}
.view-grid img {
    width: 100%;
    height: 70px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.view-grid >.name {
    float: left;
    margin: 10px 5px 5px 5px;
    font-size: 8px;
    z-index: -1;
}
.view-grid:hover {
    background-color: orange;
    border-color: orange;
}
.icons {
    float: left;
    margin: 10px 5px 5px 5px;
}
.view-grid div {
    float: right;
    background-color: lightseagreen;
    padding: 2px;
    position: relative;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.my-table {
    font-size: 12px;
    margin-top: 20px;
}
.row-table {
    border: 1px solid #edebec;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #edebec;
    line-height: 40px;
    transition-duration:400ms;
    -webkit-transition-duration:400ms;
    transition-property:background-color;
}
.my-table li {
    display: inline-block;
    width: 10%;
    padding: 1px 8px;
}
.row-table:hover {
    background-color: #d7d7d9;
}
.my-table li:first-child {
    width: 5%;
}
.my-table li:last-child {
    width: 50%;
    float: right;
    text-align: right;
}
.header-table{
    line-height: 40px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #49b9ca;
    color: #ffffff;
    border: 1px solid #49b9ca;
}
.row-table li button {
display: inline;
margin-right: 20px;
}
.my-table .row-table img, .list img {
    width: 38px;
    height: 28px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.send-message {
    font-size: 12px;
}
.send-message input, .send-message textarea {
    width: 90%;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.send-message label {
    width: 10%;
    text-align: right;
    padding-right: 10px;
    display: block;
    float: left;
}
.unfollow, .follow, .improper {
    margin: 10px 0;
    text-align: center;
}
.unfollow p, .follow p {
    font-size: 12px;
    display: inline;
}
.unfollow button, .follow button, .improper button {
    margin-left: 10px;
}
.unfollow .fa-plus-square, .follow .fa-plus-square, .improper .fa-plus-square{
    margin-left: 3px;
}
.improper p {
    font-size: 12px;
}
.fa-plus-square {
    color: red;
}
.fa-check-square {
    color: green;
    margin-left: 3px;
}
.close {
    opacity: .9;
}
.copy {
    min-height: 200px;
    line-height: 20px;
}
.left-copy-left, .left-copy-center, .right-profile {
    padding-right: 0;
    padding-left: 0;
}
.left-copy-left label, .left-copy-right label {
    width: 30%;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    padding-top: 5px;
}
.left-copy-left input[type="text"] {
    width: 70%;
    overflow: hidden;

}
.left-copy-right select {
    width: 68%;
    overflow: hidden;
    height: 22px;
    padding: 2px 3px;
}
.right-copy img {
    height: 156px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.left-copy-right, .left-profile-right {
    padding-right: 0;
}
.radio-btn label {
    width: 25%;
    position: relative;
    display: inline-block;
    text-align: right;
}

.radio-btn p {
    width: 30%;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    padding-top: 5px;
    font-weight: 700;
}
.left-copy-center label{
    width: 15%;
    display: block;
    text-align: right;
    padding-right: 5px;
    padding-top: 5px;
    float: left;
}
.left-copy-center textarea {
    width: 85%;
    overflow: hidden;
    background-color: #ffffff;
}
.profile {
    min-height: 180px;
    line-height: 20px;
}
.left-profile-left {
    padding-left: 0;
}
.left-profile-left label, .left-profile-right label  {
    width: 21%;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    padding-top: 8px;
}
.left-profile-right label:last-child {
    padding-right: 0;
}
.left-profile-left input {
    width: 79%;
    overflow: hidden;
}
.left-profile-left select {
    padding: 1px 3px 1px 0;
    width:25%;
    overflow: hidden;
    height: 22px;
    margin-right: 2px;
}
.left-profile-left > #birth-year {
    width: 30%;
    overflow: hidden;
}

.right-profile img {
    height: 70px;
    width: 70%;
    border: 1px solid lightgray;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.left-profile-right > .radio-btn p {
    width: 35%;
    display: inline-block;
    text-align:left;
    padding-right: 5px;
    padding-top: 5px;
    font-weight: 700;
}
.left-profile-right > .radio-btn p:last-child {
    width: 100%;
}
.left-profile-right {
    border-left-style: dotted;
    border-color: gray;
    border-width: 1px;
}
.right-profile {
    border-left-style: dotted;
    border-color: gray;
    border-width: 1px;
}
.btn-center {
    text-align: center;
}

.popover.fade {
    padding: 0 !important;
    height: 200px;
    width: 200px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.popover img {
    width: 100%;
    height: 160px;
}
.arrow  {
    background-color: red;
}
.change-password {
    margin: 15px 0 0 0;
    padding: 6px;
    text-align: center;
    background-color: #6198c1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    line-height: 20px;
    color: #ffffff;

}
.change-password input {
    color: gray;
    margin-right: 25px;
}
.change-password label {
    padding-right: 5px;
}
.my-border button {
   margin-top: 10px;
    padding: 2px 5px;
}
.my-border {
    border-top-style: dashed;
    border-color: gray;
    border-width: 1px;
    margin-top: 10px;
}
.my-border button i {
    padding-left: 5px;
}
.invite-friends {
    display: inline-block;
    line-height: 15px;
    padding: 10px;
}
.invite-friends label {
    padding: 5px 10px;
}
.invite-friends input {
    width: 70%;
}
.invite-friends p {
    padding-left: 10px;
}
/*-------- media ----------*/

@media (min-width: 768px) {
    .modal-dialog {
        width: 780px;
        margin: 30px auto;
    }
}
.sm-dialog .modal-dialog {
    max-width: 300px;
}
.md-dialog .modal-dialog {
    max-width: 700px;
}
.un-dialog .modal-dialog {
    max-width: 550px;
    left: auto;
}
.fo-dialog .modal-dialog {
    max-width: 500px;
}
.im-dialog .modal-dialog {
    max-width: 450px;
}
.cb-dialog .modal-dialog {
    max-width: 780px;
}
.ps-dialog .modal-dialog {
    max-width: 720px;
}
.if-dialog .modal-dialog {
    max-width: 350px;
}
.modal {
    top: 25%;
}
.modal.fade .modal-dialog, .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}