*{
    padding: 0;
    margin: 0;
}
body {
    font-size: 10px;
}
header {
    width: 100%;
    height: 80px;
    line-height: 50px;
}
header a {
    color: #1b6d85;
}
.search {
    float: left;
}
.login {
    float: right;
}
li {
    list-style: none;
    padding: 5px 0;
}
ul li:first-child {
    background-color: lightskyblue;
padding: 2px;
}
.btn-tooltip + .tooltip > .tooltip-inner {
    background-color: #8AC007;
    color: #FFFFFF;
    padding: 3px 10px;
    font-size: 10px;
}
.tooltip-arrow {
display: none;
}
.pop-up {
    width: 500px;
    height: 200px;
}
.pop-up p {
    padding: 3px 0 0 3px ;
}
form {
    font-size: 9px;
    padding: 5px;
}
input {
    border: 1px solid lightgrey;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
input[type="text"] {
    float: right;
}
.pop-up button {
    float: right;
    padding: 2px 8px;
    margin-right: 10px;
    margin-top: 20px;
}
#folder-description {
    height: 50px;
}
.btn {
   margin: 5px 0;
}
.content {
    border: 1px solid lightgray;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 500px;
}
.view-list {
    background-color: lightgray;
    border: 1px solid lightgrey;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 5px;
}
.view-list img {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 20px;
    float: left;
}
.view-list >.name, .view-list >.address {
    width: 250px;
    float: left;
}
.view-list >.description {
    width: 400px;
    float: left;
}
.view-grid {
    border: 1px solid lightskyblue;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: skyblue;
    min-height: 110px;
    padding: 5px;
}
.view-grid img {
    width: 100%;
    height: 70px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.view-grid >.name {
    float: left;
    margin: 10px 5px 5px 5px;
    font-size: 8px;
    z-index: -1;
}
.view-grid:hover {
    background-color: orange;
    border-color: orange;
}
.icons {
    float: left;
    margin: 10px 5px 5px 5px;
}
.view-grid div {
    float: right;
    background-color: lightseagreen;
    padding: 2px;
    position: relative;
    right: 0;
    bottom: 0;
    z-index: 2;
}