<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="view-list" ng-repeat="view in lists | filter:search">
                <img ng-src="images/{{view.screen}}" />
                <p class="name">{{view.name}}</p>
                <a class="address" href="#">{{view.address}}</a>
                <p class="description">{{view.description}}</p>
            <button type="button" class="btn btn-success btn-xs" ng-click="openBookmark()">!</button>
            <button type="button" class="btn btn-success btn-xs" ng-click="openSocial()">F</button>
            <button type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
</div>