<div class="col-md-12">
<div class="list">
        <ul ng-repeat="view in lists">
            <li><a><img ng-src="images/{{view.screen}}" /></a></li>
            <li><a style="color: #49b9ca">{{view.name}}</a></li>
            <li><a class="address" href="#">{{view.address}}</a></li>
            <li class="description"><a>{{view.description}}</a></li>
            <li><a>
                <button class="btn btn-xs" ng-click="openBookmark()"><i class="fa fa-wrench"></i></button>
                <button class="btn btn-xs" ng-click="openSocial()"><i class="fa fa-facebook"></i></button>
                <button class="btn btn-xs"><i class="fa fa-arrows-h"></i></i></button>
                </a>
            </li>
        </ul>
</div>
</div>