<header>
    <div class="logo">
        <a><img src="../../images/logo.png" alt="Wonderpage"/></a>
    </div>
    <div class="search">
        <p>one page to rule theme all [beta] </p>
        <a ng-click="openProfile()"><i class="fa fa-wrench fa-2x"></i></a>
        <a ng-class="{active: tab == 'search-results'}" ng-click="showMe();tab='search-results'"><i class="fa fa-book fa-2x"></i></a>
        <div class="search-group">
            <input ng-model="search" type="text" class="search-control" placeholder="search phrase"/>
            <cc-select select="select" ng-model="options" class="search-control my-select">
            </cc-select>
            <button class="search-control" type="submit">search</button>
        </div>

    </div>
    <div class="login">
        <img ng-src="../../images/avatar.jpg" />
        <p>Logged as:</p>
        <p>ANA</p>
    </div>
</header>

<div class="menu">
    <div class="my-top-border-left"></div>
    <nav>
        <ul>
            <li ng-class="{active: tab == 'home'}" ng-click="tab='home'">
                <span ng-click="openFolder()" class="fa fa-wrench"></span>
                <a data-toggle="tooltip" data-placement="right" title="Home"> Homeeeeeeeeeeeeeee</a>
                <i class="glyphicon glyphicon-user"></i>
            </li>
            <li ng-class="{active: tab == 'moda'}" ng-click="tab='moda'"><span ng-click="openFolder()" class="fa fa-wrench"></span>
                <a data-toggle="tooltip" data-placement="right" title="moda"> moda</a>
                <i class="glyphicon glyphicon-lock"></i>
            </li>
        </ul>
    </nav>
    <div class="my-top-border-left"></div>
    <div class="menu-static1">
            <div ng-class="{active: tab == 'following'}" ng-click="tab='following'">
                <a>i'm following<i class="glyphicon glyphicon-share-alt"></i></a>
            </div>
            <div ng-class="{active: tab == 'followers'}" ng-click="tab='followers'">
                <a >my followers<i class="glyphicon glyphicon-share-alt"></i></a>
            </div>
    </div>
    <div class="my-top-border-left"></div>
    <div class="menu-static2">
        <div ng-class="{active: tab == 'most_viewied'}" ng-click="tab='most_viewied'">
            <a>most viewied<i class="glyphicon glyphicon-signal"></i></a>
        </div>
        <div ng-class="{active: tab == 'recently_added'}" ng-click="tab='recently_added'">
            <a>recently added<i class="glyphicon glyphicon-certificate"></i></a>
        </div>
    </div>
    <div ng-show="show" class="my-top-border-left"></div>
    <div ng-show="show" class="search-results">
        <a class="active"><span ng-click="hideMe();" class="fa fa-times"></span>search results<i class="glyphicon glyphicon-search"></i></a>

    </div>
    <div class="my-top-border-left"></div>
    <form class="menu-button" ng-submit="add(view)">
        <div ng-init="focus=false;blur=true;active=true"><input ng-class="{ myFocus: focus, myBlur: blur }" ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;" type="text" placeholder="add bookmark"/>
            <button><i class="glyphicon glyphicon-plus"></i></button>
        </div>
        <div ng-init="focus=false;blur=true;active=false"><input ng-class="{ myFocus: focus, myBlur: blur }" ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;" type="text" placeholder="add folder"/>
            <button><i class="glyphicon glyphicon-plus"></i></button>
        </div>
    </form>
</div>
<section class="content">
    <div ng-switch="tab">
        <div ng-switch-when="following">
            <fallowing></fallowing>
        </div>
        <div ng-switch-when="followers">
            <div search-results></div>
        </div>
        <div ng-switch-when="search-results">
            <all-users></all-users>
        </div>
        <div ng-switch-when="home">
            <div ng-switch on="selectionSize.id">
                <div ng-switch-when="1">
                    <list></list>
                </div>
                <div ng-switch-default>
                    <grid ng-class="[selectionSize.value]"></grid>
                </div>
            </div>
        </div>
    </div>
</section>
<aside class="sidebar">
    <div ng-switch="tab">
        <div ng-switch-when="profile">

            <public-profile></public-profile>
        </div>
        <div ng-switch-default>
            <public-feed></public-feed>
        </div>
    </div>
</aside>
<footer>
    <div class="size-bookmark">
        <p>ikona miniatur</p>
        <select class="dropup" id="simpleSizeSel" ng-model="selectionSize"  ng-options="option.value for option in simpleSizeValue track by option.id">
        </select>
        </div>
</footer>