<header>
    <div class="logo">
        <a>Wonderpage LOGO</a>
    </div>
    <div class="search">
        <p>one page to rule theme all [beta] </p>
        <a ng-click="openProfile()"><i class="fa fa-wrench fa-2x"></i></a>
        <a><i class="fa fa-book fa-2x"></i></a>
        <div class="search-group">
            <input ng-model="search" type="text" class="search-control" placeholder="search phrase"/>
            <select class="search-control my-select">
                <option value="">my pages</option>
                <option value="">all pages</option>
                <option value="">users</option>
            </select>
            <button class="search-control" type="submit">search</button>
        </div>

    </div>
    <div class="login">
        <img ng-src="../../images/avatar.jpg" />
        <p>Logged as:</p>
        <p>ANA</p>
    </div>
</header>

<div class="menu">
    <ul>
        <li>
            <span class="fa fa-wrench"></span>
            <a data-toggle="tooltip" data-placement="right" title="Home" ng-class="{active: tab == 'home'}" ng-click="tab='home'"> Home</a>
            <i class="fa fa-lock"></i>
        </li>
        <li><span class="fa fa-wrench"></span>
            <a data-toggle="tooltip" data-placement="right" title="moda" ng-class="{active: tab == 'moda'}" ng-click="tab='moda'"> moda</a>
            <i class="fa fa-lock"></i>
        </li>
    </ul>
</div>
<div class="content">
    <div ng-switch="tab">
        <div ng-switch-when="fallowing">
            <fallowing></fallowing>
        </div>
        <div ng-switch-when="fallowers">
            <h3>fallowers</h3><br />
            fallowers fallowers fallowers fallowers fallowers fallowers
        </div>
        <div ng-switch-when="home">
            <div ng-switch on="selectionSize.id">
                <div ng-switch-when="1">
                    <list></list>
                </div>
                <div ng-switch-default>
                    <grid></grid>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar">
    <div ng-switch="tab">
    <div ng-switch-when="profile">
        <public-profile></public-profile>
    </div>
    <div ng-switch-default>
        <h5>public feed</h5>
        <public-feed></public-feed>
    </div>
</div>
</div>