<header class="modal-header">
    <button type="button" class="close" ng-click="close()" ng-disabled="isCancelDisabled()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">edit properties - </h4>
</header>
<div class="modal-body">
    <form>
            <div class="bookmark-dialog1">
                <p><strong>name</strong>: <input type="text" name="bookmark-name" value="{{lists.name}}" size="20" maxlength="40"/></p>
                <p><strong>address</strong>: <input type="text" name="bookmark-address" value="{{lists.address}}" size="20" maxlength="40"/></p>
            </div>
            <div class="bookmark-dialog2">
                <p><strong>category</strong>:
                    <select name="bookmark-address" value="yellowjasmine.pl">
                        <option checked="checked">Home</option>
                        <option>moda</option>
                    </select></p>
                <p><strong>privacy*</strong>:
                    <label><input name="privacy" type="radio" value="private" />private</label>
                    <label><input name="privacy" type="radio" value="public" />public</label>
                </p>
            </div>

            <div class="bookmark-dialog3">
                <p><strong>description</strong>: <input type="text" name="bookmark-description" value="yellowjasmine" size="53" maxlength="2000"/></p>
                <p><strong>keywords</strong>: <input type="text" name="bookmark-keywords" value="yellowjasmine.pl" size="53" maxlength="200"/></p>
            </div>
        <div class="bookmark-dialog4">
            <img ng-src="images/avatar.jpg" />
        </div>
    </form>
</div>
<footer class="modal-footer my-btn">
    <button type="button" class="btn btn-inverse" ng-disabled="isCancelDisabled()" ng-click="close()">remove</button>
    <button type="button" class="btn btn-primary" ng-click="uploadFiles()" ng-disabled="isUploadDisabled()">save</button>
    <button type="button" class="btn btn-inverse" ng-disabled="isCancelDisabled()" ng-click="close()">cancel</button>
    <button type="button" class="btn btn-inverse" ng-disabled="isCancelDisabled()" ng-click="close()">recepture</button>
</footer>