<header class="modal-header">
    <button type="button" class="close" ng-click="close()" ng-disabled="isCancelDisabled()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">copy bookmark - </h4>
</header>
<div class="modal-body copy">
    <div class="left-copy">
        <label>name:</label><input type="text" name="bookmark-name" value="{{lists.name}}" size="20" maxlength="40"/>
            <label>category:</label>
                <select name="bookmark-address" value="yellowjasmine.pl">
                    <option checked="checked">Home</option>
                    <option>moda</option>
                </select>
        <label>address:</label><input type="text" name="bookmark-address" value="{{lists.address}}" size="20" maxlength="40"/>
            <p><strong>privacy*</p>:
                <label><input name="privacy" type="radio" value="private" />private</label>
                <label><input name="privacy" type="radio" value="public" />public</label>
            <label>description:</label><textarea name="bookmark-description" value="yellowjasmine" size="53" maxlength="2000"></textarea>
            <label>keywords:</label><textarea name="bookmark-keywords" value="yellowjasmine.pl" size="53" maxlength="200"></textarea>
    </div>
    <div class="right-copy">
        <img ng-src="images/avatar.jpg" />
    </div>
</div>
<footer class="modal-footer my-btn">
    <button type="button" class="btn btn-primary">copy bookmark</button>
    <button type="button" class="btn btn-inverse" ng-disabled="isCancelDisabled()" ng-click="close()">cancel</button>
</footer>