<header class="modal-header">
    <button type="button" class="close" ng-click="close()" ng-disabled="isCancelDisabled()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">edit folder properties - </h4>
</header>
<div class="modal-body">
        <form>
            <div class="form-group folder-dialog">
                <div class="col-md-6 folder-left-direction">
                    <label for="folder-name">name:</label>
                    <input  type="text" id="folder-name" name="folder-name" ng-model="formData.name" value="" />
                    <label for="folder-description">description:</label>
                    <textarea id="folder-description" name="folder-description-name" ng-model="formData.description" value=""></textarea>
                </div>
                <div class="col-md-6 folder-right-direction">
                    <p >privacy*:</p>
                <label><input name="privacy" type="radio" value="private" />private</label>
                <label><input name="privacy" type="radio" value="public" />public</label>
                    <p>*This folder is private. All bookmars in this folder are private.</p>
                </div>
            </div>
        </form>
</div>
<footer class="modal-footer">
    <button type="button" class="btn btn-inverse" ng-disabled="isCancelDisabled()" ng-click="isCollapsed = isCollapse">remove</button>
    <button type="button" class="btn btn-primary" ng-click="uploadFiles()" ng-disabled="isUploadDisabled()">save</button>
    <button type="button" class="btn btn-inverse" ng-disabled="isCancelDisabled()" ng-click="close()">cancel</button>
    <div collapse="isCollapsed" class="my-border">
        <form>
            <div class="remove">
                <p>Are you sure, you want to remove this page</p>
                <button type="button" class="btn btn-inverse btn-xs" >yes<i class="fa fa-plus-square"></i></button>
                <button type="button" class="btn btn-inverse btn-xs" ng-click="isCollapsed = !isCollapsed">no<i class="fa fa-check-square"></i></button>
            </div>
        </form>
    </div>
</footer>