<div class="my-table">
    <ul class="header-table">
        <li></li>
        <li>name</li>
        <li>followers</li>
        <li>following</li>
        <li>status</li>
        <li></li>
    </ul>
    <ul class="row-table" ng-repeat="item in following.following">
        <li><img ng-src="{{item.avatar}}"/></li>
        <li style="color: #49b9ca">{{item.name}}</li>
        <li>{{item.followers}}</li>
        <li>{{item.following}}</li>
        <li>{{item.status}}</li>
        <li><button ui-sref="publicProfile({UserName: item.name})" class="btn-grey btn btn-xs">profile</button>
        <button ng-click="openMessage()" class="btn btn-xs btn-grey">send message</button>
        <button ng-click="openUnfollow()" class="btn btn-xs btn-grey">unfollow</button></li>
    </ul>
</div>