<div ng-include="'scripts/common/header.html'"></div>
<div class="menu">
    <div class="my-top-border-left"></div>
    <nav>
        <ul>
            <li ng-repeat="folder in folders" ui-sref-active="active">
                <span ng-click="openFolder()" class="fa fa-wrench"></span>
                <a ui-sref=".folder({folderId:folder.folderId})" data-toggle="tooltip" data-placement="right" title="home">{{folder.name}}</a>
                <i class="glyphicon glyphicon-user"></i>
            </li>
        </ul>
    </nav>
    <div class="my-top-border-left"></div>
        <follow></follow>
    <div class="my-top-border-left"></div>
        <statistics></statistics>
    <div ng-show="show" class="my-top-border-left"></div>
        <result></result>
    <div class="my-top-border-left"></div>
        <menu-action></menu-action>
</div>
<section class="content" ui-view></section>
<aside class="sidebar">
    <div ng-switch="tab">
        <div ng-switch-when="profile">

            <public-profile></public-profile>
        </div>
        <div ng-switch-default>
            <public-feed></public-feed>
        </div>
    </div>
</aside>
<div ng-include="'scripts/common/footer.html'"></div>